Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of data that allows for efficient storage, retrieval, and manipulation.

Feature	SQL (Relational DB)	NoSQL (Non-relational DB)
Data Model	Structured (tables with rows and columns)	Flexible (documents, key-value, etc.)
Schema	Fixed schema	Dynamic schema
Examples	MySQL, PostgreSQL, Oracle	MongoDB, Redis, Cassandra
Query Language	SQL	Various (e.g., MongoDB Query Language)
Best for	Complex queries, structured data	Unstructured or rapidly changing data

Q2. What is DDL? Explain CREATE, DROP, ALTER, and TRUNCATE with an example.
DDL stands for Data Definition Language. It is used to define or modify the structure of database objects.

Command	Description	Example
CREATE	Creates a new table or database	CREATE TABLE students (id INT, name VARCHAR(100));
DROP	Deletes a table or database	DROP TABLE students;
ALTER	Modifies the structure of an existing table	ALTER TABLE students ADD age INT;
TRUNCATE	Deletes all records from a table (structure remains)	TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for Data Manipulation Language. It is used to manage data inside tables.

Command	Description	Example
INSERT	Adds new records	INSERT INTO students (id, name) VALUES (1, 'Alice');
UPDATE	Modifies existing data	UPDATE students SET name = 'Bob' WHERE id = 1;
DELETE	Removes records	DELETE FROM students WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.
DQL stands for Data Query Language, mainly used to fetch data from the database.

Command	Description	Example
SELECT	Retrieves data	SELECT name FROM students WHERE id = 1;

Q5. Explain Primary Key and Foreign Key.
Key Type	Description	Example
Primary Key	Uniquely identifies each record in a table. Cannot be NULL.	id INT PRIMARY KEY
Foreign Key	A field in one table that refers to the primary key in another table. Used to maintain referential integrity.	student_id INT, FOREIGN KEY(student_id) REFERENCES students(id)

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() methods.
You need mysql-connector-python package:
Install via pip: pip install mysql-connector-python

In [1]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="yourpassword",
    database="school"
)

# Create cursor object
cur = conn.cursor()

# Execute SQL command
cur.execute("SELECT * FROM students")

# Fetch and print results
for row in cur.fetchall():
    print(row)

# Close connection
conn.close()

ModuleNotFoundError: No module named 'mysql'

Q7. Order of Execution of SQL Clauses
The SQL engine processes queries in the following order:

FROM – Source tables

JOIN – Combine tables

WHERE – Filter rows

GROUP BY – Group rows

HAVING – Filter groups

SELECT – Select columns

ORDER BY – Sort the results

LIMIT – Limit number of rows

SELECT name, COUNT(*) 
FROM students 
WHERE age > 18 
GROUP BY name 
HAVING COUNT(*) > 1 
ORDER BY name;