In [1]:
# create a variable containing string:
str1="Data Science"
print(str1)

Data Science

In [2]:
type(str1)

str

In [4]:
lst=["s","a","y","a","l","i"]
print(lst)

['s', 'a', 'y', 'a', 'l', 'i']

In [5]:
type(lst)

list

In [7]:
flt1=5.55
print(flt1)

5.55

In [8]:
type(flt1)

float

In [9]:
tupl=("mango","banana","orange")
print(tupl)

('mango', 'banana', 'orange')

In [10]:
type(tupl)

tuple

In [14]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [17]:
var3 = ['DS','ML','Python']
type(var3)

list

In [20]:
var1 = ' '
type(var1)

str

In [21]:
var4 = 1
type(var4)

int

In [24]:
# (i) division operator
a=2
b=5
b/a

2.5

In [25]:
# (ii) modulo operator---> output is the remainder
a%b

2

In [27]:
# (iii) modulo operator---> output is the integer quotient
b//a

2

In [28]:
# (iv) exponentiation operator---> output is the calculation of 1st number is power of 1st number
a**b

32

In [35]:
# list of length 10 
type1=[1,"one",[3,4,5],"data science",1.1,("mango","orange"),{"a","b"},True,1+2j,10]
len(lst)

10

In [36]:
for i in type1:
    print(f"The element is:{i} and its datatype is:{type(i)}")

The element is:1 and its datatype is:<class 'int'>
The element is:one and its datatype is:<class 'str'>
The element is:[3, 4, 5] and its datatype is:<class 'list'>
The element is:data science and its datatype is:<class 'str'>
The element is:1.1 and its datatype is:<class 'float'>
The element is:('mango', 'orange') and its datatype is:<class 'tuple'>
The element is:{'b', 'a'} and its datatype is:<class 'set'>
The element is:True and its datatype is:<class 'bool'>
The element is:(1+2j) and its datatype is:<class 'complex'>
The element is:10 and its datatype is:<class 'int'>

In [3]:
a=16
b=2
i=0
while ((a%b)==0):
        a=a/b
        i+=1
print(f"The number is divisible {i} times")

The number is divisible 4 times

In [17]:
""" list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not"""

lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(len(lst)):
    if ((lst[i])%3)==0:
        print(f"The element {lst[i]} is divisible by 3")
    else:
        print(f"The element {lst[i]} is not divisible by 3")

The element 1 is not divisible by 3
The element 2 is not divisible by 3
The element 3 is divisible by 3
The element 4 is not divisible by 3
The element 5 is not divisible by 3
The element 6 is divisible by 3
The element 7 is not divisible by 3
The element 8 is not divisible by 3
The element 9 is divisible by 3
The element 10 is not divisible by 3
The element 11 is not divisible by 3
The element 12 is divisible by 3
The element 13 is not divisible by 3
The element 14 is not divisible by 3
The element 15 is divisible by 3
The element 16 is not divisible by 3
The element 17 is not divisible by 3
The element 18 is divisible by 3
The element 19 is not divisible by 3
The element 20 is not divisible by 3
The element 21 is divisible by 3
The element 22 is not divisible by 3
The element 23 is not divisible by 3
The element 24 is divisible by 3
The element 25 is not divisible by 3

In [18]:
# mutable and immutable datatypes
"""Mutable datatypes are the ones whose value can be changes while immutable object's value cannot be modified.
List object is mutable whereas string object is immutable"""
#eg. list
lst1=[1,2,3,4,5]
lst[0]

1

In [21]:
lst1[0]=2
print(lst1)

[2, 2, 3, 4, 5]

In [22]:
#string
str1="Data"
str1[0]

'D'

In [27]:
str1[0]='N'
print(str1[0])

TypeError: 'str' object does not support item assignment

In [26]:
print(str1[0])

D